img{
    background-color: #AA0000;
    padding-top: 35px;
}

ul {
    margin-top: 5px;
    padding-left: 30px;
}

/* 畫面大小，約一張 A4 紙的尺寸 */
.frame {
    border-color: rgb(236, 234, 234);
    border-style:solid;
    border-width:2px;
    display: flex;
    height: 1140px;
    margin:0px auto;
    padding:5px;
    width: 817px;
}

.contact-and-skills {
    border-left: 5px #AA0000 solid;
    border-right: 5px #AA0000 solid;
    flex: none;
    height: 1140px;
    width: 198.5px;    
}

.contact-skills-style {
    background-color: #AA0000;
    height: 1140px;
    margin:0 auto;
    text-align:center;
    width: 188.5px;
}

.contact-skills-line {
    border-color: white;
    margin: 15px;
}

/* CONTACT ME */
.contact-circular {
    border:1px solid rgba(255, 255, 255, 0.825);
    border-radius:50%;
    height:30px;
    width:30px;
}

.profile-title {
    color: rgba(255, 255, 255, 0.825);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px; 
}

.profile-content {
    align-content: center;
    color: rgba(255, 255, 255, 0.825);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 20px 0px 20px;
    width: 148px;
}

#address {
    font-family: Microsoft JhengHei, 'Arial Narrow', Arial, sans-serif;
}

/* skill part */
.skill-degree-circle {
    border:1px solid rgba(255, 255, 255, 0.825);
    border-radius:50%;
    flex: none;
    height:7px;
    margin: 3px;
    width:7px;
}

/* 圓點填色，表示程度等級 */
.skill-circle-bg {
    background-color: rgba(255, 255, 255, 0.825);
    border:1px solid ;
    border-radius:50%;
    flex: none;
    height:7px;
    margin: 3px; 
    width:7px;
}

.skill-dots {
    display: flex;
    flex: none;
    width: 50%;  
}

.skill-dot-frame {
    color: rgba(255, 255, 255, 0.825);
    display: flex;
    flex: none;
    padding: 3px 20px;
    width: 40.5px;
}

.skill-frame {
    display: flex;
    margin: 25px 0px;
}

.skill-title {
    color: rgba(255, 255, 255, 0.825);
    flex: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 15px;
    text-align:left;
    width: 50.5px;
}

.introduction-experience {
    align-items: center;
    flex: none;
    height: 1090px;
    justify-content: center;
    overflow-y: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px; 
    width: 595.5px;
}

.introduction-experience-title {
    color: #AA0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.introduction-experience-line {
    border:none;
    border-top:2px dashed gray;
    height:1px;
    margin-right: 30px;
    margin-top: 20px;
}

.introduction-red-line {
    border: 2px solid #AA0000;
    margin: 20px 25px 0 0;
}

#my-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 0px 0px 5px 0px; 
}

#positions {
    color: #AA0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;   
}

/* ABOUT ME */
.about-me-describe {
    color: gray;
    font-family: Microsoft JhengHei, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 3px 0px;
    padding-right: 40px;
    text-indent: 1.5em;
}

#brief-description {
    font-family: Microsoft JhengHei, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 5px 30px 10px 0;
}

/* EXPERIENCE */
.company-name {
    flex: none;
    font-family: Microsoft JhengHei, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 3px 0px;
    width: 50%;
}

.active-during {
    flex: none;
}

.active-during-frame {
    display: flex;
    flex: none;
    font-size: 18px;
    font-weight: bold;
    justify-content: end;
    width: 50%;
}

.experience-frame {
    display: flex;
    margin-right: 40px;
}

.experience-item {
    color: gray;
    font-family: Microsoft JhengHei, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 3px 0;
    padding-right: 22px; 
}

.experience-overview {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 0 30px 3px 0;
}

 /* EDUCATION  */
.education-frame {
    display: flex;
    margin-right: 40px;
}

.school-name {
    flex: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 3px 0px;
    width: 50%;
}

/* skill part 
直條顯示程度 
.skill-first-part{
    align-items: center;
    flex: none;
    justify-content: center;
    width: 36%;
}

.skill-gray-bar {
    background-color: lightgray;
    height: 12px;
    width: 138px;
}

.skill-item-top {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-item-under {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}

.skill-second-part {
    align-items: center;
    flex: none;
    justify-content: center;
    width: 36%;
}

.skill-three-part {
    align-items: center;
    flex: none;
    justify-content: center;
    width: 36%;
}

#skill-red-bar1 {
    height: 12px;
    width: 120px;
}
#skill-red-bar2 {
    height: 12px;
    width: 100px;
}
#skill-red-bar3 {
    height: 12px;
    width: 80px;
}
#skill-red-bar4 {
    height: 12px;
    width: 120px;
}
#skill-red-bar5 {
    height: 12px;
    width: 110px;
}
#skill-red-bar6 {
    height: 12px;
    width: 110px;
}

*/

